.navbar {
  position: fixed;
  top: 0;
  width: 97%;
  height: 70px;
  background: #2d6fa5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: rgb(253, 253, 253);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: #eee;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
}

.nav-links li a:hover {
  color: cyan;
}
